body {
  margin: 0px;
}

#header {
  background-color: rgb(211, 211, 211);
  height: 36vh;
}

#section-topo {
  height: 5vh;
  background-color: black;
  border: 0px solid black;
}

#div-boas-vindas {
  position: absolute;
  left: 90vw;
  top: 1vh;
  height: 4vh;
  color: white;
  border: 0px solid black;
  z-index: 9999;
  transition: height 0.3s ease;
  overflow-y: hidden;
}

#div-boas-vindas:hover {
  height: 21vh;
}

#div-menu-fazer-login {
  position: relative;
  top: 3vh;
}

#div-menu-fazer-login a {
  font-size: 1.7vw;
  font-family: "Quattrocento Sans", sans-serif;
}

#div-menu-cadastrar-se {
  position: relative;
  top: 7vh;
}

#div-menu-cadastrar-se a {
  font-size: 1.7vw;
  font-family: "Quattrocento Sans", sans-serif;
}

#imgLogo {
  position: relative;
  top: 3vh;
  left: 3vw;
  width: 15vw;
}

#input-text-busca {
  position: relative;
  left: 20vw;
  top: -5vh;
  width: 27.2vw;
  height: 6.6vh;
  border-radius: 1vw;
  padding-left: 1vw;
  padding-right: 3vw;
  font-size: 1.3vw;
}

#input-image-lupa {
  position: absolute;
  width: 2.3vw;
  top: 15.7vh;
  left: 64vw;
  z-index: 9999;
}

#menu {
  border: 0px solid black;
  position: relative;
  top: 5vh;
  background-color: gray;
  height: 8vh;
}

.categoria {
  position: relative;
  left: 5vw;
  border: 0px solid black;
  width: 17vw;
  height: 7.2vh;
  overflow: hidden;
  transition: height 0.3s ease;
}

.categoria:hover {
  height: 22.2vh;
}

#div-total-categorias {
  position: relative;
  left: 0vw;
  top: 0.8vh;
  border: 0px solid black;
  width: 10vw;
}

.img-menu-categorias {
  width: 2.5vw;
}

#div-categorias {
  position: relative;
  top: -1vh;
  display: inline;
  font-family: "Quattrocento Sans", sans-serif;
  color: white;
  font-size: 1.5vw;
}

#div-categorias-placa {
  position: relative;
  top: 2.2vh;
  left: 2.9vw;
  border: 0px solid black;
  font-family: "Quattrocento Sans", sans-serif;
  color: blue;
  font-size: 2.5vw;
  text-decoration: underline;
  z-index: 2;
}

#div-categorias-controles {
  position: relative;
  top: 3.8vh;
  left: 2.9vw;
  border: 0px solid black;
  font-family: "Quattrocento Sans", sans-serif;
  color: blue;
  font-size: 2.5vw;
  text-decoration: underline;
  z-index: 9999;
}

#div-menu-home {
  position: absolute;
  border: 0px solid black;
  left: 33vw;
  top: 2.5vh;
}

#div-menu-home a {
  font-family: "Quattrocento Sans", sans-serif;
  color: white;
  font-size: 1.9vw;
  text-decoration: none;
}

#div-menu-fale-conosco {
  position: absolute;
  border: 0px solid black;
  left: 45vw;
  top: 2.5vh;
}

#div-menu-fale-conosco a {
  font-family: "Quattrocento Sans", sans-serif;
  color: white;
  font-size: 1.9vw;
  text-decoration: none;
}

#div-menu-sobre-nos {
  position: absolute;
  border: 0px solid black;
  left: 65vw;
  top: 2.5vh;
}

#div-menu-sobre-nos a {
  font-family: "Quattrocento Sans", sans-serif;
  color: white;
  font-size: 1.9vw;
  text-decoration: none;
}

#main {
  border: 0px solid black;
  position: relative;
  top: 4vh;
  z-index: 1;
}

#nav-mapa-historico {
  position: relative;
  width:80%;
  top: 4vh;
  left: 4vw;
}

#span-mapa-historico-home a {
  font-size: 3vh;
  font-family: "Quattrocento Sans", sans-serif;
  text-decoration: none;
}

#span-mapa-historico-home a:hover {
  font-size: 3vh;
  font-family: "Quattrocento Sans", sans-serif;
  text-decoration: underline;
}

#span-mapa-historico-cadastrarse {
  font-size: 3vh;
  font-family: "Quattrocento Sans", sans-serif;
}

#div-dados-pessoais {
  position: relative;
  border: 0px solid black;
  width: 90vw;
  height: 40vh;
  top: 10vh;
  left: 4vw;
}

#input-email {
  position: relative;
  left: 5vw;
  width: 80vw;
  height: 2vw;
  font-size: 1.3vw;
}

#input-senha {
  position: relative;
  top: 5vh;
  left: 5vw;
  width: 80vw;
  height: 2vw;
  font-size: 1.3vw;
}

#input-senha-2 {
  position: relative;
  top: 10vh;
  left: 5vw;

  width: 80vw;
  height: 2vw;
  font-size: 1.3vw;
}

#div-detalhes-da-entrega {
  position: relative;
  width: 90vw;
  height: 120vh;
  border: 0px solid black;
  top: 15vh;
  left: 4vw;
}

#input-cep {
  position: relative;
  left: 5vw;
  width: 80vw;
  height: 2vw;
  font-size: 1.3vw;
}

#input-nome {
  position: relative;
  left: 5vw;
  top:2vh;
  width: 80vw;
  height: 2vw;
  font-size: 1.3vw;
}

#input-sobrenome {
  position: relative;
  left: 5vw;
  top:4vh;
  width: 80vw;
  height: 2vw;
  font-size: 1.3vw;
}

#input-cpf-cnpj {
  position: relative;
  left: 5vw;
  top:6vh;
  width: 80vw;
  height: 2vw;
  font-size: 1.3vw;
}

#input-telefone {
  position: relative;
  left: 5vw;
  top:8vh;
  width: 80vw;
  height: 2vw;
  font-size: 1.3vw;
}

#input-endereco {
  position: relative;
  left: 5vw;
  top:10vh;
  width: 80vw;
  height: 2vw;
  font-size: 1.3vw;
}

#input-bairro {
  position: relative;
  left: 5vw;
  top:12vh;
  width: 80vw;
  height: 2vw;
  font-size: 1.3vw;
}

#input-numero {
  position: relative;
  left: 5vw;
  top:14vh;
  width: 80vw;
  height: 2vw;
  font-size: 1.3vw;
}

#input-complemento {
  position: relative;
  left: 5vw;
  top:16vh;
  width: 80vw;
  height: 2vw;
  font-size: 1.3vw;
}

#input-cidade {
  position: relative;
  left: 5vw;
  top:18vh;
  width: 80vw;
  height: 2vw;
  font-size: 1.3vw;
}

#input-estado {
  position: relative;
  left: 5vw;
  top:20vh;
  width: 80vw;
  height: 2vw;
  font-size: 1.3vw;
}


#button-enviar{
    position:relative;
    left:45vw;
}